<div class="modal fade" id="depositFunds" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form id="deposit-form" #f="ngForm" [ngClass]="{'was-validated': validated, 'needs-validation': !validated}" (ngSubmit)="validate(f)">
          <div class="modal-header">
            <h3 class="modal-title header-title">Make a Deposit</h3>
            <button type="button" class="close deposit-cancel" aria-label="Close" (click)="resetAndClose()">
              <span aria-hidden="true">&times;</span>
            </button>
            <button #closeModal type="button" class="hidden close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-10 offset-md-1 mb-4">
                <label class="text-uppercase text-muted secondary-text mb-3" for="accounts">External Account</label>
                <select [(ngModel)]="selectedContact" class="custom-select d-block w-100" id="accounts" name="account">
                  <option *ngFor="let account of savedContacts" [ngValue]="account">
                    {{ account.label }} - {{ account.account }} - {{ account.routing }}
                  </option>
                  <option disabled>──────────</option>
                  <option [ngValue]="newContact">New External Account</option>
                </select>
                <div *ngIf="selectedContact == newContact" id="otherDepositInputs">
                  <div id="alertBanner" class="alert alert-danger mt-3 mb-3" role="alert">
                    <span class="alert-icon mr-2 material-icons">error</span><strong>Warning</strong>: This website is a simulation. Please don't include real personal information.
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><strong class="modal-icon">#</strong></span>
                    </div>
                    <input [(ngModel)]="newContact.account" class="form-control" type="number" step="1" id="external_account_num" name="external_account_num" min="1000000000" max="9999999999" [minValue]="1000000000" [maxValue]="9999999999" placeholder="Account Number" isInRange required/>
                    <div class="invalid-feedback">
                      Please enter a valid 10 digit account number.
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><span class="modal-icon material-icons">account_balance</span></span>
                    </div>
                    <input [(ngModel)]="newContact.routing" class="form-control" type="number" step="1" id="external_routing_num" name="external_routing_num" min="100000000" max="999999999" [minValue]="100000000" [maxValue]="999999999"  placeholder="Routing Number" isInRange required/>
                    <div class="invalid-feedback">
                      Please enter a valid 9 digit routing number.
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><span class="modal-icon material-icons">label</span></span>
                    </div>
                    <input [(ngModel)]="newContact.label" class="form-control"  type="text" id="external_label" maxLength="30" pattern="^[0-9a-zA-Z][0-9a-zA-Z ]{0,29}$" name="external_label" placeholder="Account Label (Optional)"/>
                    <div class="invalid-feedback">
                      Invalid label.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-10 offset-md-1">
                <label class="text-uppercase text-muted secondary-text mb-1" for="deposit-amount">Deposit Amount</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend mr-2">
                    <span class="input-group-text"><span class="amount-font material-icons">attach_money</span></span>
                  </div>
                  <input [(ngModel)]="amount" class="form-control amount-font" type="number" autocomplete="off" step="0.01" id="deposit-amount" name="amount" placeholder="0.00" isInRange min="0.01" max="500000.00" [minValue]="0.01" [maxValue]="500000.00" required>
                  <div class="invalid-feedback">
                    Please enter a valid amount.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary deposit-cancel" (click)="resetAndClose()">Cancel</button>
            <button type="submit" class="btn btn-primary">Deposit</button>
          </div>
        </form>
      </div>
    </div>
</div>