<div class="modal fade" id="sendPayment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form id="payment-form" #f="ngForm" [ngClass]="{'was-validated': validated, 'needs-validation': !validated}" (ngSubmit)="validate(f)">
          <div class="modal-header">
            <h3 class="modal-title header-title">Send a Payment</h3>
            <button type="button" class="close payment-cancel" aria-label="Close" (click)="resetAndClose()">
              <span aria-hidden="true">&times;</span>
            </button>
            <button #closeModal type="button" class="hidden close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-10 offset-md-1 mb-4">
                  <label class="text-uppercase text-muted secondary-text mb-3" for="accounts">Recipient</label>
                  <select [(ngModel)]="selectedContact" class="custom-select d-block w-100 mb-3" id="accounts" name="account">
                    <option *ngFor="let account of savedContacts" [ngValue]="account">
                      {{ account.label }} - {{ account.account }}
                    </option>
                    <option disabled>──────────</option>
                    <option [ngValue]="newContact">New Recipient</option>
                  </select>
                  <div *ngIf="selectedContact == newContact" id="otherAccountInputs">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><strong class="modal-icon">#</strong></span>
                      </div>
                      <input [(ngModel)]="newContact.account" class="form-control" type="number" step="1" id="contact_account_num" name="contact_account_num" min="1000000000" max="9999999999" [minValue]="1000000000" [maxValue]="9999999999"  placeholder="Account Number" isInRange required/>
                      <div class="invalid-feedback">
                        Please enter a valid 10 digit account number.
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><span class="modal-icon material-icons">label</span></span>
                      </div>
                      <input [(ngModel)]="newContact.label" class="form-control"  type="text" id="contact_label" name="contact_label" maxLength="30" pattern="^[0-9a-zA-Z][0-9a-zA-Z ]{0,29}$" placeholder="Contact Label (Optional)"/>
                      <div class="invalid-feedback">
                          Invalid label.
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-10 offset-md-1">
                  <label class="text-uppercase secondary-text text-muted mb-1" for="payment-amount">Transaction Amount</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend mr-2">
                      <span class="input-group-text"><span class="amount-font material-icons">attach_money</span></span>
                    </div>
                    <input #formControl="ngModel" [(ngModel)]="amount" class="form-control amount-font" type="number" autocomplete="off" step="0.01" id="payment-amount" name="amount" placeholder="0.00" min="0.01" [max]="balance" [minValue]="0.01" [maxValue]="balance" isInRange required>
                    <div class="invalid-feedback">
                      Please enter a valid amount. <span *ngIf="formControl.hasError('rangeValueToBig')">Amount exceeds your current balance.</span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary payment-cancel" (click)="resetAndClose()">Cancel</button>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
</div>